{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="pt-br">
        <title>Desafio JavaScript - SIEVE - Dezembro 2015</title>
        <meta charset="UTF-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
        <style>
            .st-sort-ascent:before{
                content: '\25B2';
            }
            .st-sort-descent:before{
            content: '\25BC';
            }
        </style>
    </head>
    <body>
        <header></header>
        {% block content %}
        {% endblock %}
        <footer></footer>
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-smart-table/2.1.5/smart-table.js"></script>
        <script src="{% static 'js/ui-bootstrap-tpls-0.14.3.min.js' %}"></script>
        {% block script %}
        {% endblock %}
    </body>
</html>