{% extends "base.html" %}

{% block content %}
    <div ng-app="caixa">
        <div ng-controller="listaController" class="container">
            <h1>Desafio JavaScript - SIEVE - Guilherme Campos dos Reis</h1>
            <h3>Caixa de Entrada</h3>

            <table st-table="emails" st-set-filter="customFilter" class="table table-striped">

                <thead>
                  <tr>
                      <th st-sort="nome">Nome</th>
                      <th st-sort="assunto">Assunto</th>
                      <th st-sort="data" st-sort-default="reverse">Quando</th>
                </tr>
                <tr>
                    <th><input st-search="nome" placeholder="Busca por nome..." class="input-sm form-control" type="search"/></th>
                    <th><input st-search="assunto" placeholder="Busca por assunto..." class="input-sm form-control" type="search"/></th>
                    <th class="col-md-3"><st-date-range predicate="data" before="query.before"></st-date-range></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in emails track by $index">
                    {% verbatim %}
                    <td>{{row.nome}}</td>
                    <td>{{row.assunto}}</td>
                    <td ng-if="!mesmoDia(row.data)">{{row.data | date:'dd/MM/yyyy'}}</td>
                    <td ng-if="mesmoDia(row.data)">{{row.data | date:'hh:mm'}}</td>
                    {% endverbatim %}
                </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <st-summary></st-summary>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </div>

{% endblock %}
{% block script %}
<script>
(function (ng) {
    var app = angular.module('caixa', ['smart-table','ui.bootstrap']);
    app.controller('listaController',['$scope', function ($scope) {
        $scope.emails = JSON.parse("{{json_dados|escapejs}}");
        $scope.itemsByPage=10;
        $scope.mesmoDia = function(data) {
            data_hoje = new Date();
            data_mail = new Date(data);
            return data_hoje.getUTCFullYear() === data_mail.getUTCFullYear() &&
                 data_hoje.getUTCMonth() === data_mail.getUTCMonth() &&
                 data_hoje.getUTCDate() === data_mail.getUTCDate();
        };
    }]);
    app.directive('stDateRange', ['$timeout', function ($timeout) {
        return {
            restrict: 'E',
            require: '^stTable',
            scope: {
                before: '=',
                after: '='
            },
            templateUrl: 'static/stDateRange.html',

            link: function (scope, element, attr, table) {

                var inputs = element.find('input');
                var inputBefore = ng.element(inputs[0]);
                var inputAfter = ng.element(inputs[1]);
                var predicateName = attr.predicate;


                [inputBefore, inputAfter].forEach(function (input) {

                    input.bind('blur', function () {


                        var query = {};

                        if (!scope.isBeforeOpen && !scope.isAfterOpen) {

                            if (scope.before) {
                                query.before = scope.before;
                            }

                            if (scope.after) {
                                query.after = scope.after;
                            }

                            scope.$apply(function () {
                                table.search(query, predicateName);
                            })
                        }
                    });
                });

                function open(before) {
                    return function ($event) {
                        $event.preventDefault();
                        $event.stopPropagation();

                        if (before) {
                            scope.isBeforeOpen = true;
                        } else {
                            scope.isAfterOpen = true;
                        }
                    }
                }

                scope.openBefore = open(true);
                scope.openAfter = open();
            }
        }
    }]);
    app.directive('stSummary', function () {
    return {
      restrict: 'E',
      require: '^stTable',
      template: "<div>Total: {% verbatim %}{{size}}{% endverbatim %}</div>",
      scope: {},
      link: function ($scope, element, attr, ctrl) {
        $scope.$watch(ctrl.getFilteredCollection, function (val) {
          $scope.size = (val || []).length;
        })
      }
    }
    });
    app.filter('customFilter', ['$filter', function ($filter) {
            var filterFilter = $filter('filter');
            var standardComparator = function standardComparator(obj, text) {
                text = ('' + text).toLowerCase();
                return ('' + obj).toLowerCase().indexOf(text) > -1;
            };

            return function customFilter(array, expression) {
                function customComparator(actual, expected) {

                    var isBeforeActivated = expected.before;
                    var isAfterActivated = expected.after;
                    var isLower = expected.lower;
                    var isHigher = expected.higher;
                    var higherLimit;
                    var lowerLimit;
                    var itemDate;
                    var queryDate;


                    if (ng.isObject(expected)) {

                        //date range
                        if (expected.before || expected.after) {
                            try {
                                if (isBeforeActivated) {
                                    higherLimit = expected.before;

                                    itemDate = new Date(actual);
                                    queryDate = new Date(higherLimit);

                                    if (itemDate > queryDate) {
                                        return false;
                                    }
                                }

                                if (isAfterActivated) {
                                    lowerLimit = expected.after;


                                    itemDate = new Date(actual);
                                    queryDate = new Date(lowerLimit);

                                    if (itemDate < queryDate) {
                                        return false;
                                    }
                                }

                                return true;
                            } catch (e) {
                                return false;
                            }

                        } else if (isLower || isHigher) {
                            //number range
                            if (isLower) {
                                higherLimit = expected.lower;

                                if (actual > higherLimit) {
                                    return false;
                                }
                            }

                            if (isHigher) {
                                lowerLimit = expected.higher;
                                if (actual < lowerLimit) {
                                    return false;
                                }
                            }

                            return true;
                        }
                        //etc

                        return true;

                    }
                    return standardComparator(actual, expected);
                }

                var output = filterFilter(array, expression, customComparator);
                return output;
            };
        }]);
    })(angular);
</script>
{% endblock %}
