<label>Selecione a data</label>
<div class="input-group">
    <input type="text" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="after" is-open="isAfterOpen" close-text="Close"/>
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openAfter($event)"><i class="glyphicon glyphicon-calendar"></i></button>
    </span>
</div>